# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.


# Site Settings
locale                   : "en-US"
title                    : Sebastian Mostek
title_separator          : "-"
subtitle                 : The physicist who ended up with a MechE degree
name                     : Sebastian Mostek
description              : Sebastian Mostek - Projects and CV 
baseurl                  : "/fa25-portfolio-smostek"

# Theme and Style
theme: jekyll-theme-minimal
color_scheme: desert # light/default, dark, or aqua

sass:
  style: compressed

# Outputting
permalink: /:categories/:title/

collections:
  pages:
    output: true
  projects:
    output: true
    permalink: /:collection/:path/

# Markdown
markdown: kramdown
kramdown:
  input: GFM

# Plugins (previously gems:)
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-seo-tag

